@import "tailwindcss";

@layer theme {
  :root {
    --font-bricolage: "Bricolage Grotesque", sans-serif;
  }
}

body {
  font-family: var(--font-bricolage);
}

.sidebar,
.project {
  scrollbar-width: none; 
}

.sidebar::-webkit-scrollbar,
.project::-webkit-scrollbar {
  width: 0;
  height: 0;
}
